<!-- col -->
<div class="col-md-3 col-sm-4 mobile-displaynone">
	<!-- toggle -->
	<div class="panel-group toggles-style2 usermanual-panel-fixed">
		<div class="panel panel-default">
			<div  id="type2-headingOne" class="panel-heading usermanual-panel">
				<h4 class="panel-title panel-title-boder-bottom panel-head">Modules</h4>
			</div>
		</div>
		<!-- toggle item -->
		<div class="panel panel-default active">
			<div class="">
				<a href="/human-resource-management/"><h4 class="font-weight-<%= ((activeModule == 'HRM') ? '800' : '600') %> usermanual-hover panel-title panel-title-boder-bottom">Human Resource Management</h4></a>
			</div>

		</div>
		<!-- end toggle item -->
		<!-- toggle item -->
		<div class="panel panel-default active" >
			<div class="">
				<a href="/financial-accounting/"><h4 class="font-weight-<%= ((activeModule == 'FA') ? '800' : '600') %> usermanual-hover panel-title panel-title-boder-bottom">Financial Accounting</h4></a>
			</div>

		</div>
		<!-- end toggle item -->
		<!-- toggle item -->
		<div class="">
			<div  class="">
				<a href="/supply-chain-management/"><h4 class="font-weight-<%= ((activeModule == 'SCM') ? '800' : '600') %> usermanual-hover panel-title panel-title-boder-bottom">Supply Chain Management</h4></a>
			</div>
		</div>
		<!-- end toggle item -->
		<!-- toggle item -->
		<div class="">
			<div class="">
				<a  href="/manufacturing-process-management/"><h4 class="font-weight-<%= ((activeModule == 'MPM') ? '800' : '600') %> usermanual-hover panel-title panel-title-boder-bottom">Manufacturing Process Management</h4></a>
			</div>

		</div>
		<!-- end toggle item -->
		<!-- toggle item -->
		<div class="">
			<div  class="">
				<a href="/business-intelligence/"><h4 class="font-weight-<%= ((activeModule == 'BI') ? '800' : '600') %> usermanual-hover panel-title panel-title-boder-bottom">Business Intelligence</h4></a>
			</div>

		</div>
		<!-- end toggle item -->

	</div>
	<!-- end toggle -->
</div>
<!-- end col -->
