<!-- col -->
<div class="col-md-3 col-sm-4 mobile-displaynone">
	<!-- toggle -->
	<div class="panel-group toggles-style2 usermanual-panel-fixed">
		<div class="panel panel-default">
			<div  id="type2-headingOne" class="panel-heading usermanual-panel">
				<h4 class="panel-title panel-title-boder-bottom panel-head">Modules</h4>
			</div>
		</div>
		<!-- toggle item -->
		<div class="panel panel-default" id="collapse-two">
			<div role="tablist" id="type2-headingOne" class="panel-heading usermanual-panel">
				<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link1"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom">Human Resource Management<span class="pull-right"><i class="fa <%= ((activeSection == 'HRM') ? 'fa-angle-up': 'fa-angle-down') %>"></i></span></h4></a>
			</div>
			<div id="collapse-two-link1" class="panel-collapse collapse <%= ((activeSection == 'HRM') ? 'in': '') %>">
				<div class="panel-body usermanual-panelbody">
					<a class="usermanual-hover" href="/user-manual/human-resource-management/employee-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'employee-management') ? 'font-weight-800': '') %>">Employee Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/human-resource-management/attendance-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'attendance-management') ? 'font-weight-800': '') %>">Attendance Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/human-resource-management/payroll-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'payroll-management') ? 'font-weight-800': '') %>">Payroll Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/human-resource-management/hr-loan-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'hr-loan-management') ? 'font-weight-800': '') %>">HR-Loan Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/human-resource-management/holiday-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'holiday-management') ? 'font-weight-800': '') %>">Holiday Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/human-resource-management/attendance-device-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'attendance-device-management') ? 'font-weight-800': '') %>">Attendance Device Management</h5>
					</a>
				</div>
			</div>
		</div>
		<!-- end toggle item -->
		<!-- toggle item -->
		<div class="panel panel-default">
			<div role="tablist" id="type2-headingTwo" class="panel-heading usermanual-panel">
				<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link2"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom panel-title-boder-top">Supply Chain Management<span class="pull-right"><i class="fa <%= ((activeSection == 'SCM') ? 'fa-angle-up': 'fa-angle-down') %>"></i></span></h4></a>
			</div>
			<div id="collapse-two-link2" class="panel-collapse collapse <%= ((activeSection == 'SCM') ? 'in': '') %>">
				<div class="panel-body usermanual-panelbody">
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/customer-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'customer-management') ? 'font-weight-800': '') %>">Customer Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/delivery-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'delivery-management') ? 'font-weight-800': '') %>">Delivery Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/orders-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'orders-management') ? 'font-weight-800': '') %>">Orders Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/purchase-management">
						<h5 class="sub-manu-2nd  <%= ((activeModule == 'purchase-management') ? 'font-weight-800': '') %>">Purchase Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/reception-management">
						<h5 class="sub-manu-2nd  <%= ((activeModule == 'reception-management') ? 'font-weight-800': '') %>">Reception Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/sales-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'sales-management') ? 'font-weight-800': '') %>">Sales Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/supplier-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'supplier-management') ? 'font-weight-800': '') %>">Supplier Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/supply-chain-management/warehouse-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'warehouse-management') ? 'font-weight-800': '') %>">Warehouse Management</h5>
					</a>
				</div>
			</div>
		</div>
		<!-- end toggle item -->
		<!-- toggle item -->
		<div class="panel panel-default">
			<div role="tablist" id="type2-headingThree" class="panel-heading usermanual-panel">
				<a data-toggle="collapse" data-parent="#collapse-two" href="#collapse-two-link3"><h4 class="font-weight-600 usermanual-hover panel-title panel-title-boder-bottom panel-title-boder-top">Financial Accounting<span class="pull-right"><i class="fa <%= ((activeSection == 'FA') ? 'fa-angle-up': 'fa-angle-down') %>"></i></span></h4></a>
			</div>
			<div id="collapse-two-link3" class="panel-collapse collapse <%= ((activeSection == 'FA') ? 'in': '') %>">
				<div class="panel-body usermanual-panelbody">
					<a class="usermanual-hover" href="/user-manual/financial-accounting/asset-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'asset-management') ? 'font-weight-800': '') %>">Asset Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/financial-accounting/expense-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'expense-management') ? 'font-weight-800': '') %>">Expense Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/financial-accounting/invoice-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'invoice-management') ? 'font-weight-800': '') %>">Invoice Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/financial-accounting/journal-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'journal-management') ? 'font-weight-800': '') %>">Journal Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/financial-accounting/ledger-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'ledger-management') ? 'font-weight-800': '') %>">Ledger Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/financial-accounting/liability-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'liability-management') ? 'font-weight-800': '') %>">Liability Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/financial-accounting/receipt-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'receipt-management') ? 'font-weight-800': '') %>">Receipt Management</h5>
					</a>
					<a class="usermanual-hover" href="/user-manual/financial-accounting/voucher-management">
						<h5 class="sub-manu-2nd <%= ((activeModule == 'voucher-management') ? 'font-weight-800': '') %>">Voucher Management</h5>
					</a>

				</div>
			</div>
		</div>
		<!-- end toggle item -->
	</div>
	<!-- end toggle -->
</div>
<!-- end col -->
